@{
    ViewData["Title"] = "Limitations";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>Doesn't persist state between application executions</li>
    <li>Performance might not be optimal for large files or folders with many files. Current version of the application doesn't support multi threading</li>
    <li>UI is very basic</li>
</ul>
